# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

name: Publish to test PyPI

on:
  push:
    tags-ignore:
      - '**'

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"
  HATCH_INDEX_USER: "${{ secrets.PYPI_API_USER }}"
  HATCH_INDEX_AUTH: "${{ secrets.TEST_PYPI_API_TOKEN }}"
  HATCH_INDEX_REPO: "test"

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Set up Python
        uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # v5.1.1
        with:
          python-version: '3.x'

      - name: Install Hatch
        run: pip install --upgrade hatch

      - name: Bump temp dev release
        run: hatch run dev:cz bump --devrelease $(date +%s) --files-only --yes

      - name: Build package
        run: hatch build

      - name: Publish package
        run: hatch publish
